.category-entity-name{
    font-weight: bold;
    font-size: 20px;
    line-height: 14px;
    color: #3D5170;
    text-align: center;
}


.cells{
    text-align: center;
    height: 50px;
    border-top: 1px solid #BECAD6;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.cells-headers{
    height: 50px;
    background-color: #dbdbd9;
}

th{
    padding: 10px;
}

.change-car-button{
    display: flex;
    width: 50%;
    height: 27px;
    margin-left: auto;
    margin-right: auto;
}